<table>
  <thead>
    <th>avatar</th>
    <th>login</th>
    <th>type</th>
  </thead>

  <tbody>
    <tr *ngFor="let user of users; trackBy: trackById">
      <td>
        <app-avatar-row [avatarUrl]="user.avatar_url" [userLogin]="user.login"></app-avatar-row>
      </td>
      <td>
        <app-login-row [userLogin]="user.login"></app-login-row>
      </td>
      <td>
        <app-type-row [userType]="user.type"></app-type-row>
      </td>
      <td>
        <button (click)="remove(user.id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
