<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success"> </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let user of users; trackBy: trackById">
          <td>
            <span contenteditable="true" (keyup)="updateUser(user)">{{ user.id }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="updateUser(user)">{{ user.name }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="updateUser(user)">{{ user.email }}</span>
          </td>
          <td>
            <button class="btn btn-info" rounded="true" size="sm" (click)="deleteUser(user.id)">Remove</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
