<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 ml-5">
      <div class="col-lg-8 col-md-8">
        <h3 class="text-center">CRUD Local</h3>
      </div>
      <ul class="list-group list-group-horizontal mb-2">
        <li class="list-group-item w-25"><b>Id</b></li>
        <li class="list-group-item w-25"><b>Login</b></li>
        <li class="list-group-item w-25"><b>Type</b></li>
      </ul>
      <ul class="list-group list-group-horizontal mb-2" *ngFor="let user of users; trackBy: trackById">
        <app-list class="w-25"> {{ user.id }}</app-list>
        <app-list class="w-25"> {{ user.login }}</app-list>
        <app-list class="w-25"> {{ user.type }}</app-list>
        <button type="button" class="ml-2 btn btn-primary">Editar</button>
        <button type="button" class="ml-2 btn btn-danger" (click)="deleteUser(user.id)">Excluir</button>
      </ul>
    </div>
  </div>
</div>
