<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>My Favorites</span>
    </h1>
  </div>
  <table class="table table-sm px-5">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Quote</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let favorite of favorites; trackBy: trackById">
        <td><app-favorite-rating [rating]="favorite.rating"></app-favorite-rating></td>
        <td><app-favorite-quote [quote]="favorite.quote"></app-favorite-quote></td>
        <td><app-favorite-delete></app-favorite-delete></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <li *ngFor="let favorite of favorites; trackBy: trackById">
  {{ favorite.quote }} -
  <span
    ><span translate>rating</span>:
    <input (change)="updateRating(favorite, $event.target.value)" type="text" value="{{ favorite.rating }}" />
    <button (click)="deleteFromFavorites(favorite.id)">XX</button></span
  >
</li> -->
