<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>My Favorites</span>
    </h1>
  </div>
  <ul>
    <li *ngFor="let favorite of favorites; trackBy: trackById">
      {{ favorite.quote }} -
      <span
        ><span translate>rating</span>:
        <input (change)="updateRating(favorite, $event.target.value)" type="text" value="{{ favorite.rating }}" />
        <button (click)="deleteFromFavorites(favorite.id)">XX</button></span
      >
    </li>
  </ul>
</div>
